<h1>Word Counter input</h1>

<form action="wordcounter" method="post">
<label for="new-content">Add text</label>
<input id="new-content" name="new-content" type="text">
<label for="new-keyword">Add a key word to search for</label>
<input id="new-keyword" name="new-keyword" type="text">
<button type="submit">Submit</button>
</form>
