<h1>Text</h1>

<p>Your keyword: @Model.GetInput(). Press Count Keyword button to get keyword count</p>

<p>Keyword count: @Model.GetCount()</p>

<p>@Model.GetContent()</p>

<form action="/wordcounter/@Model.GetId()/count" method="post">
<button type="submit" value="Count">Count keyword</button>
</form>

<a href='/wordcounter'>Return to wordcounter list</a>
