<h1>Word Counter</h1>

<ul>
@foreach(var x in Model)
{
<li>Your keyword: "@x.GetInput()" appeared @x.GetCount() time(s). <br><br>Original Text <br>@x.GetContent()</li>
<br>
}
</ul>

<a href="/wordcounter/new">Add a new word counter</a>
